*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.cardH {
  max-height: 15%;
}

#brand {
  font-weight: bolder;
  margin-left: 10px;
  font-size: 30px;
}

.logocolor {
  color: #FFD60A;
}

.auth-header {
  font-weight: bolder;
font-size: 50px;
}